@import "reset.css";
@import "colors.css";

@media screen and (max-width: 768px) {
    html {
        --maket-width: 768 !important;
        --html-font-size-vw: calc(var(--html-font-size-px) / var(--maket-width) * 100vw) !important;
        font-size: var(--html-font-size-vw) !important;
    }

    .cards {
        flex-direction: column !important;
    }

    .cards__item {
        width: 100% !important;
        height: calc(432 / var(--html-font-size-px) * var(--html-font-size-vw));
    }

    .main {
        margin: calc(20 / var(--html-font-size-px) * var(--html-font-size-vw)) auto !important;
        padding: calc(30 / var(--html-font-size-px) * var(--html-font-size-vw))
        calc(30/ var(--html-font-size-px) * var(--html-font-size-vw))
        calc(20 / var(--html-font-size-px) * var(--html-font-size-vw)) !important;
        box-shadow: 0 calc(16 / var(--html-font-size-px) * var(--html-font-size-vw))
        calc(32 / var(--html-font-size-px) * var(--html-font-size-vw)) rgba(0, 0, 0, 0.12) !important;
        border-radius: calc(16 / var(--html-font-size-px) * var(--html-font-size-vw)) !important;
        width: calc(708 / var(--html-font-size-px) * var(--html-font-size-vw)) !important;
    }

    .section__filter {
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: left !important;
        padding-bottom: calc(21 / var(--html-font-size-px) * var(--html-font-size-vw)) !important;
    }

    .filter__item-select {
        min-width: calc(216 / var(--html-font-size-px) * var(--html-font-size-vw)) !important;
    }

    .filter__item-label-text {
        width: calc(80 / var(--html-font-size-px) * var(--html-font-size-vw)) !important;
    }

    .filter__item {
        margin-bottom: calc(15 / var(--html-font-size-px) * var(--html-font-size-vw)) !important;;
    }

    .filter__item:last-of-type {
        margin-bottom: 0 !important;
    }
}


html {
    --html-font-size-px: 24;
    --maket-width: 1600;
    --html-font-size-vw: calc(var(--html-font-size-px) / var(--maket-width) * 100vw);
    font-size: var(--html-font-size-vw);
}

body {
    background-color: var(--body-background-color);
    font-family: Arial, sans-serif;
    color: var(--black-text-color);
}

.main {
    margin: calc(80 / var(--html-font-size-px) * var(--html-font-size-vw)) auto;
    padding: calc(100 / var(--html-font-size-px) * var(--html-font-size-vw))
        calc(100 / var(--html-font-size-px) * var(--html-font-size-vw))
        calc(80 / var(--html-font-size-px) * var(--html-font-size-vw));
    background: var(--main-background-color);
    box-shadow: 0 calc(16 / var(--html-font-size-px) * var(--html-font-size-vw))
        calc(32 / var(--html-font-size-px) * var(--html-font-size-vw)) rgba(0, 0, 0, 0.12);
    border-radius: calc(16 / var(--html-font-size-px) * var(--html-font-size-vw));
    width: calc(1440 / var(--html-font-size-px) * var(--html-font-size-vw));
}

.section__title {
    padding-bottom: calc(40 / var(--html-font-size-px) * var(--html-font-size-vw));
    font-style: normal;
    font-weight: 900;
    font-size: calc(48 / var(--html-font-size-px) * var(--html-font-size-vw));
    line-height: calc(66 / var(--html-font-size-px) * var(--html-font-size-vw));
}

.section__filter {
    display: flex;
    align-items: center;
}

.section__filter {
    font-weight: 500;
    font-size: var(--html-font-size-vw);
    line-height: calc(33 / var(--html-font-size-px) * var(--html-font-size-vw));
    padding-bottom: calc(42 / var(--html-font-size-px) * var(--html-font-size-vw));
}

.filter {
    user-select: none;
}

.filter__item {
    margin-right: calc(20 / var(--html-font-size-px) * var(--html-font-size-vw));
}

.filter__item-label {
    display: flex;
}

.filter__item-label-text {
    height: fit-content;
    align-self: center;
    margin-right: calc(20 / var(--html-font-size-px) * var(--html-font-size-vw));
}

.filter__item-select {
    cursor: pointer;
    min-width: calc(200 / var(--html-font-size-px) * var(--html-font-size-vw));
    height: calc(50 / var(--html-font-size-px) * var(--html-font-size-vw));
    position: relative;
    background: var(--main-background-color);
    transition: background-color 0.3s;
}

.filter__item-select:hover {
    background: #eaeaea;
}

.filter__item-select:active {
    background: #e2e2e2;
}

.select {
    cursor: pointer;
    height: 100%;
    border: calc(1 / var(--html-font-size-px) * var(--html-font-size-vw)) solid var(--select-border-color);
    box-sizing: border-box;
    border-radius: calc(6 / var(--html-font-size-px) * var(--html-font-size-vw));
    padding-left: calc(22 / var(--html-font-size-px) * var(--html-font-size-vw));
    padding-right: calc(45 / var(--html-font-size-px) * var(--html-font-size-vw));
    position: relative;
    z-index: 3;
    width: 100%;
}

.select__polygon {
    height: fit-content;
    position: absolute;
    cursor: default;
    top: calc(22 / var(--html-font-size-px) * var(--html-font-size-vw));
    width: calc(14 / var(--html-font-size-px) * var(--html-font-size-vw));
    right: calc(14 / var(--html-font-size-px) * var(--html-font-size-vw));
    z-index: 2;
}

.select__polygon svg {
    height: calc(8 / var(--html-font-size-px) * var(--html-font-size-vw));
    width: calc(14 / var(--html-font-size-px) * var(--html-font-size-vw));
}

.section__cards {
    margin-bottom: calc(40 / var(--html-font-size-px) * var(--html-font-size-vw) * -1);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.cards__item {
    width: calc(600 / var(--html-font-size-px) * var(--html-font-size-vw));
    height: calc(400 / var(--html-font-size-px) * var(--html-font-size-vw));
    margin-bottom: calc(40 / var(--html-font-size-px) * var(--html-font-size-vw));
}

.card {
    position: relative;
    border-radius: calc(6 / var(--html-font-size-px) * var(--html-font-size-vw));
    overflow: hidden;
}

.card:hover .card__background {
    background-size: 120% 120%;
}

.card__background {
    height: 100%;
    width: 100%;
    background: var(--background-image-url) no-repeat center;
    background-size: 100% 100%;
    z-index: -1;
    transition: background-size 0.3s ease-in-out;
}

.card__background-filter {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.card__content-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.card__content {
    cursor: default;
    user-select: none;
    width: 100%;
    height: 100%;
    padding: calc(40 / var(--html-font-size-px) * var(--html-font-size-vw));
    color: var(--main-background-color);
    font-size: calc(48 / var(--html-font-size-px) * var(--html-font-size-vw));
    line-height: calc(66 / var(--html-font-size-px) * var(--html-font-size-vw));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__content-header {
    display: flex;
    justify-content: space-between;
}

.card__content-date {
    user-select: none;
    font-weight: normal;
    border: solid var(--main-background-color);
    border-width: calc(2 / (var(--html-font-size-px)) * (var(--html-font-size-vw)));
    box-sizing: border-box;
    border-radius: calc(6 / var(--html-font-size-px) * var(--html-font-size-vw));
    padding: calc(8 / var(--html-font-size-px) * var(--html-font-size-vw))
        calc(12 / var(--html-font-size-px) * var(--html-font-size-vw))
        calc(4 / var(--html-font-size-px) * var(--html-font-size-vw));
    width: calc(80 / var(--html-font-size-px) * var(--html-font-size-vw));
    height: calc(80 / var(--html-font-size-px) * var(--html-font-size-vw));
    text-align: center;
}

.card__content-title {
    font-weight: 900;
}

.card__content-svg {
    cursor: pointer;
    padding: calc(20 / var(--html-font-size-px) * var(--html-font-size-vw));
    margin: calc(-20 / var(--html-font-size-px) * var(--html-font-size-vw));
    width: calc(56 / var(--html-font-size-px) * var(--html-font-size-vw));
    height: calc(58 / var(--html-font-size-px) * var(--html-font-size-vw));
    border-radius: 50%;
    z-index: 999;
}

.card__content-svg svg {
    width: calc(16 / var(--html-font-size-px) * var(--html-font-size-vw));
    height: calc(20 / var(--html-font-size-px) * var(--html-font-size-vw));
    stroke-width: calc(2 / (var(--html-font-size-px) + 10000) * (var(--html-font-size-vw) + 10000));
    stroke: var(--main-background-color);
    fill: none;
    transition: fill 0.1s;
}

.card__content-svg_toggled svg {
    fill: var(--main-background-color);
}

